.contaier__repartoCompleto{
    color: white;
    padding-left: 20px;
    margin-top: 30px;
    
}
.repartoCompletoTarjetas__cast{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.repartoCompletoTarjetas__cast h1{
    color: white;
}


@media screen and (max-width: 460px){
    .contaier__repartoCompleto{
        color: white;
        padding-left:10px;
        margin-top: 30px;
        border: 1px solid red;
        
    }
    .repartoCompletoTarjetas__cast{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}